@model Vehicle_MVC.ViewModels.VehicleViewModel

@{
	ViewBag.Title = ViewBag.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save","Vehicles")) 
{
    @Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.Vehicles.Id)
    <div class="form-horizontal">
        <h3>@ViewBag.Title Vehicles</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<label class="control-label col-md-2">Make</label>
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.VehicleModels.MakeId, new SelectList(ViewBag.Makes, "Id", "Name"), "Select Make", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.VehicleModels.MakeId, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Model</label>
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.VehicleModels.Id, new SelectList(ViewBag.Models != null? ViewBag.Models : string.Empty, "Id", "Name"), "Please Select Model", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.VehicleModels.Id, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Features</label>
			<div class="col-md-10">
				@for (int i = 0; i < Model.Features.Count; i++)
				{
					if (Model.SelectFeature != null && Model.SelectFeature.Contains(Model.Features[i].Id))
					{
						Model.Features[i].isChecked = true;
					}
					@Html.CheckBoxFor(x =>Model.Features[i].isChecked)
					@Html.DisplayFor(x => Model.Features[i].Name)
					@Html.HiddenFor(x => Model.Features[i].Name)
					@Html.HiddenFor(x => Model.Features[i].Id)
					<br />
				}
			</div>
		</div>
        <div class="form-group">
            @Html.LabelFor(model => model.Vehicles.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vehicles.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicles.ContactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vehicles.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vehicles.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicles.ContactEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vehicles.ContactPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vehicles.ContactPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicles.ContactPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vehicles.IsRegistered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Vehicles.IsRegistered)
                @Html.ValidationMessageFor(model => model.Vehicles.IsRegistered, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>